<!DOCTYPE html>
<html>
    <head>
     
</head>
<body>
    <h1>Battery Ranking</h1>
    <pre>
    Health based on the most recent full charge of the battery,
    effectivley the highest charge it can hold
    </pre>
    <ul>
        {% for name in names|reverse %}
            <li><a href = "{{links.pop(0)}}">{{name + ": " + ranking[name]|string|truncate(6,true,"") + "V"}}</a></li>
        {% endfor %}
    </ul>
    <iframe src = "/matches" frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 100%; height: 100%' ></iframe>
    <!--<a href = "/name">Battery Graph Chooser</a>-->
</body>
</html>
