<!DOCTYPE html>
<html>
    <head>
     
</head>
<body>
    <h1>{{title}}</h1>
    <form class="dateSelection" method="POST" action="/dates/times">
    <select name="dateSelector" method="GET" action="/", id = "test">
        <option value="{{dates[0]}}" selected>{{dates[0]}}</option>
        {% for date in dates[1:] %}
            <option value= "{{date}}" SELECTED>{{ date }}</option>
            
        {% endfor %}
      </select>
      <input class="btn" type="submit" value="submit">
    </form>
</body>
</html>
