<!DOCTYPE html>
<html>
    <head>
     
</head>
<body>
    <h1>{{title}}</h1>
    <form class="timeSelection" method="POST" action="/name/dates/times/graphs">
    <select name="timeSelector" method="GET" action="/", id = "test">
        <option value="{{times[0]}}" selected>{{times[0]}}</option>
        {% for time in times[1:] %}
            <option value= "{{time}}" SELECTED>{{ time }}</option>
            
        {% endfor %}
      </select>
      <input class="btn" type="submit" value="submit">
    </form>
</body>
</html>
